<settings>

    <setting propertyKey="@Properties.AppVersion" title="@Strings.AppVersionTitle">
        <settingConfig type="alphaNumeric" readonly="true" /> 
    </setting>
   
    <setting propertyKey="@Properties.is-show-seconds" title="@Strings.isShowSecondsTitle">
    	<settingConfig type="boolean"></settingConfig>
    </setting>
   
    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.TimeColor" title="@Strings.TimeColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>            
            <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0x32CD32">@Strings.ColorLimeGreen</listEntry>
            <listEntry value="0x00FF00">@Strings.ColorLime</listEntry>
            <listEntry value="0xD2FF0C">@Strings.ColorYellowGreen</listEntry>
            <listEntry value="0xC8FFBF">@Strings.ColorPaleGreen</listEntry>
            <listEntry value="0xB5EBFF">@Strings.ColorPaleBlue</listEntry>
            <listEntry value="0xFFD3D9">@Strings.ColorPink</listEntry>
            <listEntry value="0x00F6FF">@Strings.ColorAqua</listEntry>
            <listEntry value="0xFFFF00">@Strings.ColorYellow</listEntry>
            
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.BrightColor" title="@Strings.BrightColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.DimColor" title="@Strings.DimColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>            
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.is-show-weather" title="@Strings.isShowWeatherTitle">
    	<settingConfig type="boolean"></settingConfig>
    </setting>
    
   	<setting propertyKey="@Properties.WeatherApiKey" title="@Strings.WeatherApiKeyTitle">
    	<settingConfig type="alphaNumeric"></settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.tempSystem" title="@Strings.TempSystemTitle">
    	<settingConfig type="list">
    		<listEntry value="1">@Strings.Celsius</listEntry>
    		<listEntry value="2">@Strings.Farenheit</listEntry>
    	</settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.windSystem" title="@Strings.WindSystemTitle">
    	<settingConfig type="list">
    		<listEntry value="1">@Strings.Knots</listEntry>
    		<listEntry value="2">@Strings.Meters</listEntry>
    	</settingConfig>
    </setting>        
    
   	<setting propertyKey="@Properties.IsShowCity" title="@Strings.IsShowCityTitle">
    	<settingConfig type="boolean"></settingConfig>
    </setting>
  
    <setting propertyKey="@Properties.etzId" title="@Strings.ExtraTimeZoneTitle">
        <settingConfig type="list">
			<listEntry value="1">@Strings.id1</listEntry>
			<listEntry value="2">@Strings.id2</listEntry>
			<listEntry value="3">@Strings.id3</listEntry>
			<listEntry value="4">@Strings.id4</listEntry>
			<listEntry value="5">@Strings.id5</listEntry>
			<listEntry value="6">@Strings.id6</listEntry>
			<listEntry value="7">@Strings.id7</listEntry>
			<listEntry value="8">@Strings.id8</listEntry>
			<listEntry value="9">@Strings.id9</listEntry>
			<listEntry value="10">@Strings.id10</listEntry>
			<listEntry value="11">@Strings.id11</listEntry>
			<listEntry value="12">@Strings.id12</listEntry>
			<listEntry value="13">@Strings.id13</listEntry>
			<listEntry value="14">@Strings.id14</listEntry>
			<listEntry value="15">@Strings.id15</listEntry>
			<listEntry value="16">@Strings.id16</listEntry>
			<listEntry value="17">@Strings.id17</listEntry>
			<listEntry value="18">@Strings.id18</listEntry>
			<listEntry value="19">@Strings.id19</listEntry>
			<listEntry value="20">@Strings.id20</listEntry>
			<listEntry value="21">@Strings.id21</listEntry>
			<listEntry value="22">@Strings.id22</listEntry>
			<listEntry value="23">@Strings.id23</listEntry>
			<listEntry value="24">@Strings.id24</listEntry>
			<listEntry value="25">@Strings.id25</listEntry>
			<listEntry value="26">@Strings.id26</listEntry>
			<listEntry value="27">@Strings.id27</listEntry>
			<listEntry value="28">@Strings.id28</listEntry>
			<listEntry value="29">@Strings.id29</listEntry>
			<listEntry value="30">@Strings.id30</listEntry>
			<listEntry value="31">@Strings.id31</listEntry>
			<listEntry value="32">@Strings.id32</listEntry>
			<listEntry value="33">@Strings.id33</listEntry>
			<listEntry value="34">@Strings.id34</listEntry>
			<listEntry value="35">@Strings.id35</listEntry>
			<listEntry value="36">@Strings.id36</listEntry>
			<listEntry value="37">@Strings.id37</listEntry>
			<listEntry value="38">@Strings.id38</listEntry>
			<listEntry value="39">@Strings.id39</listEntry>
			<listEntry value="40">@Strings.id40</listEntry>
        </settingConfig>
    </setting>
  
    <setting propertyKey="@Properties.isShowCurrency" title="@Strings.isShowCurrencyTitle">
    	<settingConfig type="boolean"></settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.base-currency-id" title="@Strings.BaseCurrencyTitle">
		<settingConfig type="list">
			<listEntry value = "0">@Strings.cur_EUR</listEntry>
			<listEntry value = "1">@Strings.cur_USD</listEntry>
			<listEntry value = "2">@Strings.cur_HUF</listEntry>
			<listEntry value = "3">@Strings.cur_AUD</listEntry>
			<listEntry value = "4">@Strings.cur_NZD</listEntry>
			<listEntry value = "5">@Strings.cur_OMR</listEntry>
			<listEntry value = "6">@Strings.cur_SEK</listEntry>
			<listEntry value = "7">@Strings.cur_AMD</listEntry>
			<listEntry value = "8">@Strings.cur_CNY</listEntry>
			<listEntry value = "9">@Strings.cur_CZK</listEntry>
			<listEntry value = "10">@Strings.cur_INR</listEntry>
			<listEntry value = "11">@Strings.cur_KRW</listEntry>
			<listEntry value = "12">@Strings.cur_ANG</listEntry>
			<listEntry value = "13">@Strings.cur_QAR</listEntry>
			<listEntry value = "14">@Strings.cur_DKK</listEntry>
			<listEntry value = "15">@Strings.cur_IDR</listEntry>
			<listEntry value = "16">@Strings.cur_ILS</listEntry>
			<listEntry value = "17">@Strings.cur_PAB</listEntry>
			<listEntry value = "18">@Strings.cur_PHP</listEntry>
			<listEntry value = "19">@Strings.cur_SGD</listEntry>
			<listEntry value = "20">@Strings.cur_ZAR</listEntry>
			<listEntry value = "21">@Strings.cur_ARS</listEntry>
			<listEntry value = "22">@Strings.cur_BGN</listEntry>
			<listEntry value = "23">@Strings.cur_CAD</listEntry>
			<listEntry value = "24">@Strings.cur_CLP</listEntry>
			<listEntry value = "25">@Strings.cur_DOP</listEntry>
			<listEntry value = "26">@Strings.cur_JPY</listEntry>
			<listEntry value = "27">@Strings.cur_LVL</listEntry>
			<listEntry value = "28">@Strings.cur_CHF</listEntry>
			<listEntry value = "29">@Strings.cur_SCR</listEntry>
			<listEntry value = "30">@Strings.cur_THB</listEntry>
			<listEntry value = "31">@Strings.cur_TRY</listEntry>
			<listEntry value = "32">@Strings.cur_AED</listEntry>
			<listEntry value = "33">@Strings.cur_BRL</listEntry>
			<listEntry value = "34">@Strings.cur_KHR</listEntry>
			<listEntry value = "35">@Strings.cur_HRK</listEntry>
			<listEntry value = "36">@Strings.cur_EGP</listEntry>
			<listEntry value = "37">@Strings.cur_HKD</listEntry>
			<listEntry value = "38">@Strings.cur_MXN</listEntry>
			<listEntry value = "39">@Strings.cur_NOK</listEntry>
			<listEntry value = "40">@Strings.cur_PLN</listEntry>
			<listEntry value = "41">@Strings.cur_RUB</listEntry>
			<listEntry value = "42">@Strings.cur_VND</listEntry>
			<listEntry value = "43">@Strings.cur_UAH</listEntry>
			<listEntry value = "44">@Strings.cur_GBP</listEntry>
			<listEntry value = "45">@Strings.cur_BTC</listEntry>
			<listEntry value = "46">@Strings.cur_BYN</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.target-currency-id" title="@Strings.TargetCurrencyTitle">
		<settingConfig type="list">
			<listEntry value = "0">@Strings.cur_EUR</listEntry>
			<listEntry value = "1">@Strings.cur_USD</listEntry>
			<listEntry value = "2">@Strings.cur_HUF</listEntry>
			<listEntry value = "3">@Strings.cur_AUD</listEntry>
			<listEntry value = "4">@Strings.cur_NZD</listEntry>
			<listEntry value = "5">@Strings.cur_OMR</listEntry>
			<listEntry value = "6">@Strings.cur_SEK</listEntry>
			<listEntry value = "7">@Strings.cur_AMD</listEntry>
			<listEntry value = "8">@Strings.cur_CNY</listEntry>
			<listEntry value = "9">@Strings.cur_CZK</listEntry>
			<listEntry value = "10">@Strings.cur_INR</listEntry>
			<listEntry value = "11">@Strings.cur_KRW</listEntry>
			<listEntry value = "12">@Strings.cur_ANG</listEntry>
			<listEntry value = "13">@Strings.cur_QAR</listEntry>
			<listEntry value = "14">@Strings.cur_DKK</listEntry>
			<listEntry value = "15">@Strings.cur_IDR</listEntry>
			<listEntry value = "16">@Strings.cur_ILS</listEntry>
			<listEntry value = "17">@Strings.cur_PAB</listEntry>
			<listEntry value = "18">@Strings.cur_PHP</listEntry>
			<listEntry value = "19">@Strings.cur_SGD</listEntry>
			<listEntry value = "20">@Strings.cur_ZAR</listEntry>
			<listEntry value = "21">@Strings.cur_ARS</listEntry>
			<listEntry value = "22">@Strings.cur_BGN</listEntry>
			<listEntry value = "23">@Strings.cur_CAD</listEntry>
			<listEntry value = "24">@Strings.cur_CLP</listEntry>
			<listEntry value = "25">@Strings.cur_DOP</listEntry>
			<listEntry value = "26">@Strings.cur_JPY</listEntry>
			<listEntry value = "27">@Strings.cur_LVL</listEntry>
			<listEntry value = "28">@Strings.cur_CHF</listEntry>
			<listEntry value = "29">@Strings.cur_SCR</listEntry>
			<listEntry value = "30">@Strings.cur_THB</listEntry>
			<listEntry value = "31">@Strings.cur_TRY</listEntry>
			<listEntry value = "32">@Strings.cur_AED</listEntry>
			<listEntry value = "33">@Strings.cur_BRL</listEntry>
			<listEntry value = "34">@Strings.cur_KHR</listEntry>
			<listEntry value = "35">@Strings.cur_HRK</listEntry>
			<listEntry value = "36">@Strings.cur_EGP</listEntry>
			<listEntry value = "37">@Strings.cur_HKD</listEntry>
			<listEntry value = "38">@Strings.cur_MXN</listEntry>
			<listEntry value = "39">@Strings.cur_NOK</listEntry>
			<listEntry value = "40">@Strings.cur_PLN</listEntry>
			<listEntry value = "41">@Strings.cur_RUB</listEntry>
			<listEntry value = "42">@Strings.cur_VND</listEntry>
			<listEntry value = "43">@Strings.cur_UAH</listEntry>
			<listEntry value = "44">@Strings.cur_GBP</listEntry>
			<listEntry value = "45">@Strings.cur_BTC</listEntry>
			<listEntry value = "46">@Strings.cur_BYN</listEntry>
		</settingConfig>
	</setting>

    <setting propertyKey="@Properties.distSystem" title="@Strings.DistSystemTitle">
    	<settingConfig type="list">
    		<listEntry value="0">@Strings.Kilometers</listEntry>
    		<listEntry value="1">@Strings.Miles</listEntry>
    		<listEntry value="2">@Strings.Steps</listEntry>
    	</settingConfig>
    </setting>

</settings>
